<a href="https://colab.research.google.com/github/EricAshby/EDA-Data-Analytics-Salaries/blob/main/TEDA1030_Mod3_project_EricAshby_08_09_23.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Exploratory Data Analysis on Data Analytics Salaries

Eric Ashby

This analysis explores salaries of data analytics professionals around the world to find patterns in the data. Specifically, the goal is to determine which factors influence pay rates around the world and learn more about what a career path might look like for somebody starting out in Data Analytics.

## About the data
This data set comes from Kaggle user [randomarnab](https://www.kaggle.com/datasets/arnabchaki/data-science-salaries-2023) and contains information about various roles in data analytics from around the world. The data was gathered in 2023 and contains details about each role's experience level, job title, salary, remote ratio, company location, and company size.

In [ ]:
import pandas as pd
df = pd.read_csv('data_analytics_salaries.csv')

## Analysis
The analysis below explores salaries of data analytics professionals. Specifically, it will explore the following different topics:

- How does experience level affect salary?
- How does experience level affect remote ratio?
- Which job titles are the most common in the United States and how does the job title affect salary?
- How have salaries changed between 2020 and 2022 for Data Analysts?
- Where are most data analytics positions located (according to this data set)? Which countries pay the most?
- What percent of employees are based in another country but are paid in USD?

One notable aspect of this data set is the presence of both `salary` and `salary_in_usd` columns. The former details the salary for the position in the local currency where the company is based, whereas the latter column standardizes all of the salaries into USD. Thus, this analysis will exclusively use the `salary_in_usd` column for comparisons.

In [ ]:
df.head()

,Unnamed: 0,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,0,2020,MI,FT,Data Scientist,70000,EUR,79833,DE,0,DE,L
1,1,2020,SE,FT,Machine Learning Scientist,260000,USD,260000,JP,0,JP,S
2,2,2020,SE,FT,Big Data Engineer,85000,GBP,109024,GB,50,GB,M
3,3,2020,MI,FT,Product Data Analyst,20000,USD,20000,HN,0,HN,S
4,4,2020,SE,FT,Machine Learning Engineer,150000,USD,150000,US,50,US,L

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 607 entries, 0 to 606
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Unnamed: 0          607 non-null    int64
 1   work_year           607 non-null    int64
 2   experience_level    607 non-null    object
 3   employment_type     607 non-null    object
 4   job_title           607 non-null    object
 5   salary              607 non-null    int64
 6   salary_currency     607 non-null    object
 7   salary_in_usd       607 non-null    int64
 8   employee_residence  607 non-null    object
 9   remote_ratio        607 non-null    int64
 10  company_location    607 non-null    object
 11  company_size        607 non-null    object
dtypes: int64(5), object(7)
memory usage: 57.0+ KB

In [ ]:
df.describe()

       Unnamed: 0    work_year        salary  salary_in_usd  remote_ratio
count  607.000000   607.000000  6.070000e+02     607.000000     607.00000
mean   303.000000  2021.405272  3.240001e+05  112297.869852      70.92257
std    175.370085     0.692133  1.544357e+06   70957.259411      40.70913
min      0.000000  2020.000000  4.000000e+03    2859.000000       0.00000
25%    151.500000  2021.000000  7.000000e+04   62726.000000      50.00000
50%    303.000000  2022.000000  1.150000e+05  101570.000000     100.00000
75%    454.500000  2022.000000  1.650000e+05  150000.000000     100.00000
max    606.000000  2022.000000  3.040000e+07  600000.000000     100.00000

### How does experience level affect salary?
At first glance, experience level seems to be the obvious candidate for the most influential variable in determining salary for data analytics professionals. This analysis assumes that the experiences levels are, in order from least amount of experience to greatest:

1. EN - Entry level
2. MI - Mid-level
3. SE - Senior level
4. EX - Executive level

According to the output of the code below, average salary tends to increase, as hypothesized, as experience level increases. However, these figures may be skewed because part-time salaries are included in the data set. Because part-time workers are more likely to be entry level and mid-level, the lower salaries of these positions (which are caused by working few hours) should be removed for this part of the analysis.

In [ ]:
df[['experience_level', 'salary_in_usd']].groupby('experience_level').mean().sort_values(by='salary_in_usd')

                  salary_in_usd
experience_level
EN                 61643.318182
MI                 87996.056338
SE                138617.292857
EX                199392.038462

The code below creates a subset of the data that contains only positions that were full time. Recalculating the average salary for each experience level among this new subset brought the average salaries closer together only slightly. The change in average salary was most unnoticeable.

In [ ]:
# Get a subset that only includes full time (FT)
fullTime = df[df['employment_type'] == 'FT']
fullTime[['experience_level' , 'salary_in_usd']].groupby('experience_level').mean().sort_values(by = 'salary_in_usd')

                  salary_in_usd
experience_level
EN                 64457.455696
MI                 88403.169903
SE                139021.014388
EX                190727.720000

From this analysis, I can conclude that experience is necessary to obtaining a higher salary. Salaries tend to vary greatly across different experience levels, meaning that experience is likely very influential for determining a person's salary.

### How does experience level affect remote ratio?
When determining how much employees are allowed to work remotely, I immediately think that senior employees are given more liberty to work from home than employees with less experience.

However, according to the results of the code below...

While the expected trend remains true for the most part, entry-level employees enjoy more workplace freedom than mid-level employees. This could be due to newer employees having different expectations of the workplace than their more experienced coworkers.

In [ ]:
df[['experience_level' , 'remote_ratio']].groupby('experience_level').mean().sort_values(by = 'remote_ratio')

                  remote_ratio
experience_level
MI                   63.849765
EN                   69.886364
SE                   75.892857
EX                   78.846154

Shown below are the increases in average remote ratio for each experience level for the work year of 2022.  Note that the ratio decreased for mid-level employees.

In [ ]:
df_EN = df[df['experience_level'] == 'EN']
df_MI = df[df['experience_level'] == 'MI']
df_SE = df[df['experience_level'] == 'SE']
df_EX = df[df['experience_level'] == 'EX']

# df_EX_21 = df_EX[df_EX['work_year'] == 2021]
# df_EX_22 = df_EX[df_EX['work_year'] == 2022]
# df_EX_22['remote_ratio'].mean() - df_EX_21['remote_ratio'].mean()

df_experience = [df_EN , df_MI , df_SE , df_EX]
experienceString = ['EN' , 'MI' , 'SE' , 'EX']

print("Change in average remote ratio for 2022 by experience level:")
for i in range(4):
  df_21 = df_experience[i][df_experience[i]['work_year'] == 2021]
  df_22 = df_experience[i][df_experience[i]['work_year'] == 2022]

  print(experienceString[i] , "   " , df_22['remote_ratio'].mean() - df_21['remote_ratio'].mean())

Change in average remote ratio for 2022 by experience level:
EN     3.5967578520770047
MI     -6.233211233211243
SE     6.4992115341293015
EX     28.671328671328673

### Which job titles are the most common in the United States and how do they affect salary?

I was not surprised to learn that the three most common data analytics job titles in the United States were, by a large margin, "Data Engineer", "Data Scientist", and "Data Analysis" as the titles have often been used interchangeably in job descriptions.

The following code selects a subset of the data containing only positions for companies based in the United States. Frequencies of job titles and their associated average salaries are calculated for this data set.

Shown are the ten most common job titles with associated average salaries in USD, ordered by frequency of job title.

In [ ]:
###Find Salaries for Most Common Job Titles in US
#create temporary copy of job_title column so as not to confuse .groupby() and .sort_values() by referencing different columns of the same name
df['job_title_counter'] = df['job_title']  #temporary column made in df instead of us_residents to avoid throwing SettingWithCopyWarning
us_companies = df[df["company_location"] == 'US']
df.drop(columns = 'job_title_counter', inplace = True)  #removing temporary column

displayNum = 10

print('Job Titles Frequency and Average Salary in the US')
print("Sorted by Frequency")
print(us_companies.groupby('job_title').agg({'job_title_counter' : 'count' , 'salary_in_usd' : 'mean'}).sort_values(by = 'job_title_counter', ascending = False))#.head(displayNum))

Job Titles Frequency and Average Salary in the US
Sorted by Frequency
                                          job_title_counter  salary_in_usd
job_title
Data Engineer                                            85  139724.682353
Data Scientist                                           84  143115.678571
Data Analyst                                             71  107674.154930
Machine Learning Engineer                                16  169055.750000
Data Science Manager                                     10  165327.700000
Data Architect                                            9  185945.888889
Data Analytics Manager                                    7  127134.285714
BI Data Analyst                                           5   87851.800000
Machine Learning Scientist                                5  154060.000000
Research Scientist                                        4  191000.000000
Principal Data Scientist                                  4  255500.000000
Analytics Engineer                                        4  175000.000000
AI Scientist                                              4   86000.000000
Data Engineering Manager                                  3  159000.000000
Lead Data Engineer                                        3  164000.000000
Head of Data Science                                      3  167291.666667
Applied Data Scientist                                    3  238000.000000
Applied Machine Learning Scientist                        3  178800.000000
Principal Data Engineer                                   3  328333.333333
Lead Data Analyst                                         2  128500.000000
Financial Data Analyst                                    2  275000.000000
ML Engineer                                               2  263000.000000
Head of Data                                              2  217500.000000
Director of Data Science                                  2  287500.000000
Computer Vision Engineer                                  2   92500.000000
Data Science Consultant                                   2   96500.000000
Computer Vision Software Engineer                         2   82873.000000
Business Data Analyst                                     2  117500.000000
Big Data Engineer                                         1   70000.000000
Principal Data Analyst                                    1  170000.000000
NLP Engineer                                              1   37236.000000
Data Analytics Lead                                       1  405000.000000
Machine Learning Infrastructure Engineer                  1  195000.000000
Lead Data Scientist                                       1  190000.000000
Data Analytics Engineer                                   1  110000.000000
Director of Data Engineering                              1  200000.000000
Data Specialist                                           1  165000.000000
Cloud Data Engineer                                       1  160000.000000
Staff Data Scientist                                      1  105000.000000

For a more expanded view, the code below shows the frequency, mean, median, and standard deviations of salaries by job title.

In [ ]:
print('Job Titles Frequency and Mean, Median, and Standard Deviation of Salary in the US')
print("Sorted by Frequency")
print(us_companies.groupby('job_title').agg({'job_title_counter' : 'count' , 'salary_in_usd' : ['mean' , 'median' , 'std']}))

Job Titles Frequency and Mean, Median, and Standard Deviation of Salary in the US
Sorted by Frequency
                                         job_title_counter  salary_in_usd  \
                                                     count           mean
job_title
AI Scientist                                             4   86000.000000
Analytics Engineer                                       4  175000.000000
Applied Data Scientist                                   3  238000.000000
Applied Machine Learning Scientist                       3  178800.000000
BI Data Analyst                                          5   87851.800000
Big Data Engineer                                        1   70000.000000
Business Data Analyst                                    2  117500.000000
Cloud Data Engineer                                      1  160000.000000
Computer Vision Engineer                                 2   92500.000000
Computer Vision Software Engineer                        2   82873.000000
Data Analyst                                            71  107674.154930
Data Analytics Engineer                                  1  110000.000000
Data Analytics Lead                                      1  405000.000000
Data Analytics Manager                                   7  127134.285714
Data Architect                                           9  185945.888889
Data Engineer                                           85  139724.682353
Data Engineering Manager                                 3  159000.000000
Data Science Consultant                                  2   96500.000000
Data Science Manager                                    10  165327.700000
Data Scientist                                          84  143115.678571
Data Specialist                                          1  165000.000000
Director of Data Engineering                             1  200000.000000
Director of Data Science                                 2  287500.000000
Financial Data Analyst                                   2  275000.000000
Head of Data                                             2  217500.000000
Head of Data Science                                     3  167291.666667
Lead Data Analyst                                        2  128500.000000
Lead Data Engineer                                       3  164000.000000
Lead Data Scientist                                      1  190000.000000
ML Engineer                                              2  263000.000000
Machine Learning Engineer                               16  169055.750000
Machine Learning Infrastructure Engineer                 1  195000.000000
Machine Learning Scientist                               5  154060.000000
NLP Engineer                                             1   37236.000000
Principal Data Analyst                                   1  170000.000000
Principal Data Engineer                                  3  328333.333333
Principal Data Scientist                                 4  255500.000000
Research Scientist                                       4  191000.000000
Staff Data Scientist                                     1  105000.000000


                                            median            std
job_title
AI Scientist                               66000.0   91476.773008
Analytics Engineer                        179850.0   29508.077990
Applied Data Scientist                    177000.0  123381.522117
Applied Machine Learning Scientist         75000.0  212273.691257
BI Data Analyst                            98000.0   44311.458069
Big Data Engineer                          70000.0            NaN
Business Data Analyst                     117500.0   24748.737342
Cloud Data Engineer                       160000.0            NaN
Computer Vision Engineer                   92500.0   45961.940777
Computer Vision Software Engineer          82873.0   18205.171188
Data Analyst                              106260.0   31812.084625
Data Analytics Engineer                   110000.0            NaN
Data Analytics Lead                       405000.0            NaN
Data Analytics Manager                    120000.0   17853.383299
Data Architect                            180000.0   39531.076517
Data Engineer                             136000.0   52387.137601
Data Engineering Manager                  153000.0   13076.696831
Data Science Consultant                    96500.0    9192.388155
Data Science Manager                      160171.0   53581.570016
Data Scientist                            140000.0   56252.981594
Data Specialist                           165000.0            NaN
Director of Data Engineering              200000.0            NaN
Director of Data Science                  287500.0   53033.008589
Financial Data Analyst                    275000.0  247487.373415
Head of Data                              217500.0   24748.737342
Head of Data Science                      167875.0   57002.238626
Lead Data Analyst                         128500.0   58689.862838
Lead Data Engineer                        160000.0  110054.531938
Lead Data Scientist                       190000.0            NaN
ML Engineer                               263000.0    9899.494937
Machine Learning Engineer                 174998.0   44459.584121
Machine Learning Infrastructure Engineer  195000.0            NaN
Machine Learning Scientist                153000.0   44645.470095
NLP Engineer                               37236.0            NaN
Principal Data Analyst                    170000.0            NaN
Principal Data Engineer                   200000.0  235389.747724
Principal Data Scientist                  227500.0  113079.617969
Research Scientist                        132000.0  177211.737760
Staff Data Scientist                      105000.0            NaN

For comparison, the quartiles for data analytics salaries in the US as a whole are also shown below. Worth noting is that the average and median salaries for the top two most common titles (seen above) are near the median for the US as a whole, while "Data Analyst" lags behind near the 25th percentile.

In [ ]:
#Quartiles for comparison
print('\nUS Data Analytics Salary Quartiles:')
print("25%  ", us_companies['salary_in_usd'].quantile(.25))
print("50%  ", us_companies['salary_in_usd'].quantile(.5))
print("75%  ", us_companies['salary_in_usd'].quantile(.75))

US Data Analytics Salary Quartiles:
25%   100000.0
50%   135000.0
75%   170000.0

The code below reports on title frequency and average salary as above but ordered by average salary. The results suggest that leadership and specialized roles earn the most, with average salaries well above the 75th percentile.

In [ ]:
print('Job Titles Frequency and Average Salary in the US')
print('Sorted by Average Salary (USD)')
print(us_companies.groupby('job_title').agg({'job_title_counter' : 'count' , 'salary_in_usd' : 'mean'}).sort_values(by = 'salary_in_usd', ascending = False).head(displayNum))

Job Titles Frequency and Average Salary in the US
Sorted by Average Salary (USD)
                                          job_title_counter  salary_in_usd
job_title
Data Analytics Lead                                       1  405000.000000
Principal Data Engineer                                   3  328333.333333
Director of Data Science                                  2  287500.000000
Financial Data Analyst                                    2  275000.000000
ML Engineer                                               2  263000.000000
Principal Data Scientist                                  4  255500.000000
Applied Data Scientist                                    3  238000.000000
Head of Data                                              2  217500.000000
Director of Data Engineering                              1  200000.000000
Machine Learning Infrastructure Engineer                  1  195000.000000

### How have salaries changed between 2020 and 2022 for Data Analysts?

Due to the increase in e-commerce caused by the recent pandemic, I expected that demand for Data Analytics would have risen from 2020-2022. Likewise, I suspected that salaries would rise in tandem with demand.

As shown below, average salaries increased from year to year.

In [ ]:
df[['work_year' , 'salary_in_usd']].groupby('work_year').mean()

           salary_in_usd
work_year
2020        95813.000000
2021        99853.792627
2022       124522.006289

As a more specific example, the following code shows us how salary changed for employees with the job title of Data Analyst.

In [ ]:
df_DataAnalyst = df[df['job_title'] == 'Data Analyst']
print('Average Salary for Data Analysts by Year:')
df_DataAnalyst[['work_year' , 'salary_in_usd']].groupby('work_year').mean()

Average Salary for Data Analysts by Year:

           salary_in_usd
work_year
2020        45547.285714
2021        79505.411765
2022       100550.739726

Also worth noting is the drastic increase (of over 24%) between 2021 and 2022 for all positions as a whole. This seems to indicate that demand is increasing at an accelerating rate.

In [ ]:
###Calculate Percent Change in Average Salary for 2020-2022
df_2020 = df[df['work_year'] == 2020]
df_2021 = df[df['work_year'] == 2021]
df_2022 = df[df['work_year'] == 2022]

avgSal2020 = df_2020['salary_in_usd'].mean()
avgSal2021 = df_2021['salary_in_usd'].mean()
avgSal2022 = df_2022['salary_in_usd'].mean()

print("Percent Change in Average Salary:")
print('2020-21  ', round((avgSal2021 - avgSal2020) / avgSal2020 * 100,2), "%")
print('2021-22  ', round((avgSal2022 - avgSal2021) / avgSal2021 * 100,2), "%")

Percent Change in Average Salary:
2020-21   4.22 %
2021-22   24.7 %

### Where are most data analytics positions located (according to this data set)? Which countries pay the most?

The proportion of data analytics positions in each of the top five countries is shown by the code below. Both by employee residence and company location, the United States is revealed to hold over half of the data analytics positions in the data set.

In [ ]:
###Report Proportions of Data Analytics Jobs for Top 5 Countries
print('Proportion of Positions in Each Country by Employee Residence')
print(df['employee_residence'].value_counts(normalize = True).head())
print('\nProportion of Positions in Each Country by Company Location')
print(df['company_location'].value_counts(normalize = True).head())

Proportion of Positions in Each Country by Employee Residence
US    0.546952
GB    0.072488
IN    0.049423
CA    0.047776
DE    0.041186
Name: employee_residence, dtype: float64

Proportion of Positions in Each Country by Company Location
US    0.584843
GB    0.077430
CA    0.049423
DE    0.046129
IN    0.039539
FR    0.024712
ES    0.023064
GR    0.018122
JP    0.009885
NL    0.006590
AT    0.006590
PT    0.006590
PL    0.006590
LU    0.004942
PK    0.004942
BR    0.004942
AE    0.004942
MX    0.004942
AU    0.004942
TR    0.004942
DK    0.004942
IT    0.003295
CZ    0.003295
SI    0.003295
RU    0.003295
CH    0.003295
NG    0.003295
CN    0.003295
BE    0.003295
VN    0.001647
EE    0.001647
AS    0.001647
DZ    0.001647
MY    0.001647
MD    0.001647
KE    0.001647
SG    0.001647
CO    0.001647
IR    0.001647
CL    0.001647
MT    0.001647
IL    0.001647
UA    0.001647
IQ    0.001647
RO    0.001647
HR    0.001647
NZ    0.001647
HU    0.001647
HN    0.001647
IE    0.001647
Name: company_location, dtype: float64

Below, average salaries are calculated for each country. Reported are the top five highest paying countries as determined by employee residence and company location, respectively. Interestingly employees living in Malaysia make the most money on average while Russia is highest paying country in terms of company location.

In [ ]:
print('Average Salaries in Each Country by Employee Residence')
print(df[['employee_residence' , 'salary_in_usd']].groupby('employee_residence').mean().sort_values(by = 'salary_in_usd' , ascending = False).head())
print('\nAverage Salaries in Each Country by Company Location')
print(df[['company_location' , 'salary_in_usd']].groupby('company_location').mean().sort_values(by = 'salary_in_usd' , ascending = False).head())

Average Salaries in Each Country by Employee Residence
                    salary_in_usd
employee_residence
MY                   200000.00000
PR                   160000.00000
US                   149194.11747
NZ                   125000.00000
CH                   122346.00000

Average Salaries in Each Country by Company Location
                  salary_in_usd
company_location
RU                157500.000000
US                144055.261972
NZ                125000.000000
IL                119059.000000
JP                114127.333333

The code below pulls up information on data analytics professionals living in Malaysia. As seen below, the code reveals that the data set contains only one data analytics professional living in Malaysia. This professional's salary alone accounts for the reported average above.  Additionally, the professional's position in leadership could easily be the cause for such a high salary.

I conclude that the average salary data for employee(s) in Malaysia is not reliable information as it relies only on a single observation.

In [ ]:
#Identify employee(s) living in Malaysia
employeeMY = df[df['employee_residence'] == "MY"]
employeeMY[['employee_residence' , 'company_location' , 'salary_in_usd' , 'job_title' , 'experience_level']]

,employee_residence,company_location,salary_in_usd,job_title,experience_level
490,MY,US,200000,Head of Data,SE

This code pulls up information on companies located in Russia.  Similarly as above, the code reveals only two positions with companies in Russia. Considering both the leadership roles and experience levels as well as the fact that there are only two entries, it is safe to conclude that the average salary reported above is disproportunately inflated and not reliable data.

In [ ]:
#Identify companies located in Russia
companyRU = df[df['company_location'] == "RU"]
companyRU[['employee_residence' , 'company_location' , 'salary_in_usd' , 'job_title' , 'experience_level']]

,employee_residence,company_location,salary_in_usd,job_title,experience_level
160,RU,RU,230000,Head of Data,EX
161,RU,RU,85000,Head of Data Science,EX

This leaves us with Puerto Rico and the United States as our top payers by employee residence and company location respectively. However, we find that Puerto Rico similarly has a single entry with a leadership position. This alone would be enough to discount Puerto Rico as well, but in addition to all this, Puerto Rico is a US territory, giving me adaquate justification to include Puerto Rico as part of the US for the purposes of this analysis.

In [ ]:
#Identify employee(s) living in Puerto Rico
employeePR = df[df['employee_residence'] == "PR"]
employeePR[['employee_residence' , 'company_location' , 'salary_in_usd' , 'job_title' , 'experience_level']]

,employee_residence,company_location,salary_in_usd,job_title,experience_level
265,PR,US,160000,Lead Data Engineer,SE

Though the data technically suggests that Malaysia (by employee residence) and Russia (by company location) are the top paying countries, upon closer inspection, I find that the United States being the highest paying country overall is a more reliable conclusion.

### What percent of employees are based in another country but are paid in USD?
This is a tricky one.

To figure this out, I'll need to make a filter that gets out only employees that are in countries that are not the United States and whose salary currency is USD. Then, I can see how many rows that dataframe has and divide it by the number of rows in the original dataframe to get the answer.

The code below accomplishes the aforementioned filtering and calculation. Just over 11% of employees in the data set live outside the US but are payed in USD.  My first instinct regarding this, is to assume that most of these employees are employed by companies based in the United States.

However...

In [ ]:
#Create filter
not_US_bool = (df['employee_residence'] != "US")
payed_USD_bool = df['salary_currency'] == 'USD'

#Count employees that pass filter
not_US_but_payed_USD = df[not_US_bool & payed_USD_bool]
[numRows , numCols] = not_US_but_payed_USD.shape
notUSbutPayedUSDcount = numRows

#Count total number of employees
[numRows , numCols] = df.shape
totalEmployeeCount = numRows

#Calculate and report percentage
print(notUSbutPayedUSDcount / totalEmployeeCount *100 , "%  of employees in the data set live outside the US but are payed in USD")

11.037891268533773 %  of employees in the data set live outside the US but are payed in USD

Shown below are the counts for companies employing professionals residing outside the US but pay in USD. Contrary to my assumption, the majority of such cases are not based in the US.

In [ ]:
not_US_but_payed_USD["company_location"].value_counts()

US    19
CA    11
JP     3
PK     3
AE     3
NG     2
RU     2
DE     1
ES     1
CN     1
CZ     1
DZ     1
MX     1
KE     1
MY     1
AU     1
LU     1
VN     1
GB     1
MD     1
CO     1
HN     1
IR     1
UA     1
BR     1
IQ     1
IN     1
RO     1
NL     1
NZ     1
GR     1
Name: company_location, dtype: int64

Doing the same analysis but considering company location instead of employee residence, it is shown that 8% of positions with non-US based companies are payed in USD.

In [ ]:
#Create filter
not_US_company_bool = (df['company_location'] != "US")

#Count jobs that pass filter
not_US_company_but_pay_USD = df[not_US_company_bool & payed_USD_bool]
[numRows , numCols] = not_US_company_but_pay_USD.shape
notUScompanyButPayUSDcount = numRows

#Count total number of jobs
[numRows , numCols] = df.shape
totalJobCount = numRows

#Calculate and report percentage
print(notUScompanyButPayUSDcount / totalJobCount *100 , "%  of jobs are at companies based outside the US but pay in USD")

8.237232289950576 %  of jobs are at companies based outside the US but pay in USD

## Conclusion
From this analysis, I find that, while experience level is indicative of average salary, some other factor is in play for workplace freedom. The most common job titles in the United States are the most general titles while leadership and specialized roles pay more. Also to be noted, salaries are increasing at an accelerating rate. The US employs the highest percentage of employees in the data set and is the most reliable answer to which country pays the most. There is a significant number of employees outside the US who are nevertheless payed in USD and of which most are not employed by companies based in the United States.